@{
    ViewData["Title"] = "Level 1";
}

<div class="well">
    <p>Using the SportsORM, complete all the following queries and show their results on Level1.cshtml.</p>
    <ol>
        <li>...all Women's Leagues</li>
        <div>
            <h3>All Women's Leagues</h3>
            <table class="table table-striped">
                <tr>
                    <th>League Name</th>
                    <th>League Sport</th>
                </tr>
                @foreach(var l in ViewBag.WomensLeagues)
                {
                    <tr>
                        <td>@l.Name</td>
                        <td>@l.Sport</td>
                    </tr>
                }
            </table>
        </div>
        <li>...all leagues where sport is any type of hockey</li>
        <div>
            <h3>All Hockey Leagues</h3>
            <table class="table table-striped">
                <tr>
                    <th>League Name</th>
                    <th>League Sport</th>
                </tr>
                @foreach(var l in ViewBag.HockeyLeagues)
                {
                    <tr>
                        <td>@l.Name</td>
                        <td>@l.Sport</td>
                    </tr>
                }
            </table>
        </div>
        <li>...all leagues where sport is something OTHER THAN football</li>
        <div>
            <h3>All Non-Football Leagues</h3>
            <table class="table table-striped">
                <tr>
                    <th>League Name</th>
                    <th>League Sport</th>
                </tr>
                @foreach(var l in ViewBag.NonFootballLeagues)
                {
                    <tr>
                        <td>@l.Name</td>
                        <td>@l.Sport</td>
                    </tr>
                }
            </table>
        </div>
        <li>...all leagues that call themselves "conferences"</li>
        <div>
            <h3>All Conference Leagues</h3>
            <table class="table table-striped">
                <tr>
                    <th>League Name</th>
                    <th>League Sport</th>
                </tr>
                @foreach(var l in ViewBag.ConferenceLeagues)
                {
                    <tr>
                        <td>@l.Name</td>
                        <td>@l.Sport</td>
                    </tr>
                }
            </table>
        </div>
        <li>...all leagues in the Atlantic region</li>
        <div>
            <h3>All Atlantic Leagues</h3>
            <table class="table table-striped">
                <tr>
                    <th>League Name</th>
                    <th>League Sport</th>
                </tr>
                @foreach(var l in ViewBag.AtlanticLeagues)
                {
                    <tr>
                        <td>@l.Name</td>
                        <td>@l.Sport</td>
                    </tr>
                }
            </table>
        </div>
        <li>...all teams based in Dallas</li>
        <div>
            <h3>All Dallas Teams</h3>
            <table class="table table-striped">
                <tr>
                    <th>Team Location</th>
                    <th>Team Name</th>
                    <th>Team ID#</th>
                </tr>
                @foreach(var l in ViewBag.DallasTeams)
                {
                    <tr>
                        <td>@l.Location</td>
                        <td>@l.TeamName</td>
                        <td>@l.TeamId</td>
                    </tr>
                }
            </table>
        </div>
        <li>...all teams named the Raptors</li>
        <div>
            <h3>All Raptors Teams</h3>
            <table class="table table-striped">
                <tr>
                    <th>Team Location</th>
                    <th>Team Name</th>
                    <th>Team ID#</th>
                </tr>
                @foreach(var l in ViewBag.RaptorsTeams)
                {
                    <tr>
                        <td>@l.Location</td>
                        <td>@l.TeamName</td>
                        <td>@l.TeamId</td>
                    </tr>
                }
            </table>
        </div>
        <li>...all teams whose location includes "City"</li>
        <div>
            <h3>Teams with locations including "City"</h3>
            <table class="table table-striped">
                <tr>
                    <th>Team Location</th>
                    <th>Team Name</th>
                    <th>Team ID#</th>
                </tr>
                @foreach(var l in ViewBag.CityTeams)
                {
                    <tr>
                        <td>@l.Location</td>
                        <td>@l.TeamName</td>
                        <td>@l.TeamId</td>
                    </tr>
                }
            </table>
        </div>
        <li>...all teams whose names begin with "T"</li>
        <div>
            <h3>"T" Named Teams</h3>
            <table class="table table-striped">
                <tr>
                    <th>Team Location</th>
                    <th>Team Name</th>
                    <th>Team ID#</th>
                </tr>
                @foreach(var l in ViewBag.TTeams)
                {
                    <tr>
                        <td>@l.Location</td>
                        <td>@l.TeamName</td>
                        <td>@l.TeamId</td>
                    </tr>
                }
            </table>
        </div>
        <li>...all teams, ordered alphabetically by location</li>
        <div>
            <h3>All Teams: Alphabetically by Location</h3>
            <table class="table table-striped">
                <tr>
                    <th>Team Location</th>
                    <th>Team Name</th>
                    <th>Team ID#</th>
                </tr>
                @foreach(var l in ViewBag.AllTeamsAlphabeticallyByLocation)
                {
                    <tr>
                        <td>@l.Location</td>
                        <td>@l.TeamName</td>
                        <td>@l.TeamId</td>
                    </tr>
                }
            </table>
        </div>
        <li>...all teams, ordered by team name in reverse alphabetical order</li>
        <div>
            <h3>All Teams: Reverse Alphabetically by Team Name</h3>
            <table class="table table-striped">
                <tr>
                    <th>Team Location</th>
                    <th>Team Name</th>
                    <th>Team ID#</th>
                </tr>
                @foreach(var l in ViewBag.AllTeamsReverseOrderByTeamName)
                {
                    <tr>
                        <td>@l.Location</td>
                        <td>@l.TeamName</td>
                        <td>@l.TeamId</td>
                    </tr>
                }
            </table>
        </div>
        <li>...every player with last name "Cooper"</li>
        <div>
            <h3>Players with Last Name Cooper</h3>
            <table class="table table-striped">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Team ID#</th>
                </tr>
                @foreach(var l in ViewBag.CooperPlayers)
                {
                    <tr>
                        <td>@l.FirstName</td>
                        <td>@l.LastName</td>
                        <td>@l.TeamId</td>
                    </tr>
                }
            </table>
        </div>
        <li>...every player with first name "Joshua"</li>
        <div>
            <h3>Players with First Name Joshua</h3>
            <table class="table table-striped">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Team ID#</th>
                </tr>
                @foreach(var l in ViewBag.JoshuaPlayers)
                {
                    <tr>
                        <td>@l.FirstName</td>
                        <td>@l.LastName</td>
                        <td>@l.TeamId</td>
                    </tr>
                }
            </table>
        </div>
        <li>...every player with last name "Cooper" EXCEPT those with "Joshua" as the first name</li>
        <div>
            <h3>Players with Last Name Cooper, but NOT First Name Joshua</h3>
            <table class="table table-striped">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Team ID#</th>
                </tr>
                @foreach(var l in ViewBag.CooperNotJoshuaPlayers)
                {
                    <tr>
                        <td>@l.FirstName</td>
                        <td>@l.LastName</td>
                        <td>@l.TeamId</td>
                    </tr>
                }
            </table>
        </div>
        <li>...all players with first name "Alexander" OR first name "Wyatt"</li>
        <div>
            <h3>Players with First Name Alexander or Wyatt</h3>
            <table class="table table-striped">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Team ID#</th>
                </tr>
                @foreach(var l in ViewBag.AlexanderWyattPlayers)
                {
                    <tr>
                        <td>@l.FirstName</td>
                        <td>@l.LastName</td>
                        <td>@l.TeamId</td>
                    </tr>
                }
            </table>
        </div>
    </ol>
</div>
